export REPO_TOP="$PWD"
path_add PATH "$REPO_TOP/"bin "$REPO_TOP/"lib/tf-lock "$REPO_TOP/"lib/unix


export TERRAGRUNT_FAIL_ON_STATE_BUCKET_CREATION=1
export TERRAGRUNT_INCLUDE_MODULE_PREFIX=true
export TF_CLI_ARGS_plan="-lock=false -out=plan"

export GETSENTRY_SAC_DEPLOY_ENVIRON=dev
export GETSENTRY_SAC_OIDC
GETSENTRY_SAC_OIDC=$(./lib/getsentry-sac/oidc-provider)

export GITHUB_OUTPUT="${GITHUB_OUTPUT:-/dev/stdout}"  # show CI output, locally
