## dev environment:
export TACOS_GHA_HOME="$PWD"
export VIRTUAL_ENV="$PWD/venv"
path_add PATH \
  "$VIRTUAL_ENV/bin" \
  "$TACOS_GHA_HOME/"bin \
;
path_add PYTHONPATH "$TACOS_GHA_HOME"
# overrideable number of processors to use; default: all
export NPROC="${NPROC:-$(getconf _NPROCESSORS_CONF)}"

# for use in your PS1 definition (see ~/.zshrc)
export PS1_PREFIX="(venv:$(basename $PWD)) ${PS1_PREFIX:-}"
export MAKEFLAGS="-j$((NPROC * 3))"

## unify CI and local settings, slightly
export GITHUB_ENV="${GITHUB_ENV:-/dev/stderr}"
export GITHUB_OUTPUT="${GITHUB_OUTPUT:-/dev/stderr}"
export GITHUB_STEP_SUMMARY="${GITHUB_STEP_SUMMARY:-/dev/stderr}"
export DEBUG="${DEBUG:-"${RUNNER_DEBUG:-}"}"

## TACOS config:
export TERRAGRUNT_FAIL_ON_STATE_BUCKET_CREATION=true
export TERRAGRUNT_INCLUDE_MODULE_PREFIX=true
export TF_CLI_ARGS_plan="-lock=false -out=plan"
export TERRAGRUNT_NO_AUTO_INIT=false
export TERRAGRUNT_NO_AUTO_RETRY=false
