## dev environment:
export REPO_TOP="$PWD"
export TACOS_GHA_HOME="$PWD"
export VIRTUAL_ENV="$PWD/venv"
path_add PATH \
  "$VIRTUAL_ENV/bin" \
  "$REPO_TOP/"bin \
;
path_add PYTHONPATH "$TACOS_GHA_HOME"
# overrideable number of processors to use; default: all
export NPROC="${NPROC:-$(getconf _NPROCESSORS_CONF)}"

# for use in your PS1 definition (see ~/.zshrc)
export PS1_PREFIX="(venv:$(basename $PWD)) ${PS1_PREFIX:-}"
export MAKEFLAGS="-j$((NPROC * 3))"

## show CI output, locally:
export GITHUB_OUTPUT="${GITHUB_OUTPUT:-/dev/stdout}"
export GITHUB_STEP_SUMMARY="${GITHUB_STEP_SUMMARY:-/dev/stdout}"

## TACOS config:
export TERRAGRUNT_FAIL_ON_STATE_BUCKET_CREATION=1
export TERRAGRUNT_INCLUDE_MODULE_PREFIX=true
export TF_CLI_ARGS_plan="-lock=false -out=plan"
