## runtime dependencies
PyJWT[crypto]

## test dependencies
pytest
pytest-xdist
hypothesis

## typing
pyright
mypy

# auto-formatting
isort
black!=24.2.0

# lint
pylint
pre-commit

# test coverage
coverage_enable_subprocess
coverage
covdefaults

# dependency management
pip-tools
