## typing
# https://github.com/microsoft/pyright/issues/6722
pyright!=1.1.340
mypy

# auto-formatting
isort
black

# test & coverage
pytest
coverage_enable_subprocess
coverage
covdefaults

# dependency management
pip-tools
